html, body {    
    font-size: 62.5%; 
  }
  * {
    box-sizing: border-box;
  } 
  .page-header {
    background-color: #fbce0a;
    color: #080808;
    font-size: 4.5rem;
    padding: 1em 0 .5em 1em; /* top-right-bottom-left */
  }
 
  
  .invert-theme {
    filter: invert(0%);
  }
  
  .page-headline {
    font-size: 2.4rem;
    padding: 1em;
    font-weight: 600;
  }
  .header-subtitle{
    font-size: 3.5rem;
    padding: 1em 0em;
  }
  .column1 {
    float: left;
    width: 60%;
    flex-wrap: wrap;  
    overflow-clip-margin: inherit;
    
  }
  .column2 {
    float: left;
    flex-wrap: wrap;  
    overflow-clip-margin: inherit;
    
  }
  
  .content
  {
    font-size: 2.5rem;
    padding:3em 4em 2em 2em;
  }
  .recipe-content
  {
    font-size: 2.0rem;
    padding: 1em 0em 0em 3em;
    list-style: revert;
  }
  .content-header{
  font-size: 2.5rem;
  padding:1em 0em 0em 2em;
  }
  .rec-lnk
  {
    font-size: 2.5rem;
    padding: 0em 2em;
  }
  

/*CSS used for Nav */
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
    font-size: 3.0em;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/*CSS used for review*/
.review{
  padding: 5em 6em;
}
.typing-status {
  visibility: hidden;
}

.typing-status--typing {
  font-size: 2.0em;
  visibility: visible;
}
.review-message{
  font-size: 3.5em;
  list-style: none;
}
.review-message li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
  background-image: "";
}
.review-message li:hover { background: #E9E4E0; }
.review-message li:hover:before { transform: rotate(360deg); }
.review-message li:before {
  content: "";
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  background-image: url("assets/user_icon.png");
}
.message-field{
  display: inline-block;
  border: 1px solid #080808;
  border-radius: 1em;
  flex: 1 0 100px;
}
.review-btn{
  margin: 1em 4em;
  background-color: #4c61af; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
.serving-field{
  width: 5%;
}
.dvimg {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 1em;
}
.img-lst {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 1em;
}
.img-lst img {
  margin-top: 2em;
  vertical-align: middle;
  width: 100%;
}

/* media query --> min-width implementeras som mobile-first */
@media screen and (min-width: 768px) {
  .img-lst {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}




